
* {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-height: fit-content;
    min-width: 100vw;
}

.Button {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.PositiveResponse:hover {
    background-color: rgb(2, 164, 211);
    color: whitesmoke;
    transition: 0.3s;
}

.PositiveResponse:active {
    background-color: blue;
    color: whitesmoke;
}

.NegativeResponse:hover {
    background-color: rgb(255, 138, 138);
    color: whitesmoke;
    transition: 0.3s;
}

.NegativeResponse:active {
    background-color: rgb(255, 91, 91);
    color: whitesmoke;
}

/*CONDITIONAL SECTION */

.lightMajor {
    background-image: radial-gradient(at bottom, rgb(212, 212, 212), rgb(221, 221, 221));
    transition: 0.8s;
}

.darkMajor {
    background-image: radial-gradient(at top left, rgb(100, 100, 100), rgb(136, 136, 136))
}

.glassMinor {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.55);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
}

/*COMPONENTS MAIN SECTION */


/* NAVBAR COMPONENT */ 

nav {
    position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav button {
    margin-right: 10%;
}

/*MAINPAGE COMPONENT */

.MainPage-Container {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    min-width: 60%;
}

.MainPage-Header-Container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    column-gap: 3%;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: space-around;
}

.MainPage-Header-Container h1 {
    font-size: 2.4rem;
    margin: 0;
}

.MainPage-Invoice-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:fit-content;
    align-items: center;
    justify-content: center;
}

.MainPage-Invoice-Card {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 2fr;
    width: 90%;
    height: 10%;
    align-items: center;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.MainPage-Invoice-Card:hover {
    padding: 0.3rem;
    transition: 0.2s;
}

.Invoice-Card-Id {
    margin-left: 10%;
}



/*FORMPAGE COMPONENT */

.FormPage-Wrapper {
    display: flex;
    justify-content: center;
    min-width: 50%;
    max-width: 50%;
    max-height: 90vh;
    overflow: scroll;
    position: absolute;
    border-radius: 0.3rem;
    z-index: 2;
    left: 0;
    bottom: 0;
}


.FormPage-Container {
    min-width:80%;
    max-width: 80%;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.FormPage-Container p {
    margin: 0;
}

.FormPage-Input {
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.FormPage-FromContainer {
    width: 100%;
    min-height: fit-content;
    display: grid;
    column-gap: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.FormPage-From-StreetAddress-Container {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 1 / span 3;
}

.FormPage-ToContainer {
    width: 100%;
    min-height: fit-content;
    display: grid;
    column-gap: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.FormPage-ToName, .FormPage-ToEmail {
    grid-area: 1 / 1 / 1 / span 3;
}

.FormPage-ToEmail {
    grid-area: 2 / 1 / 2 / span 3;
}

.FormPage-ToAddress {
    grid-area: 3 / 1 / 3 / span 3;
}

.FormPage-ToCity {
    grid-area: 4 / 1 / 4 / span 1;
}

.FormPage-To-Invoice-Container {
    width: 100%;
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5%;
}


.Formpage-Calender-Container {
    grid-area: 1 / 1 / 1 / 1;
}


.Calendar-Wrapper {
    max-width: 100%;
    position: relative;
    cursor: pointer;
}

.Calendar-Wrapper p {
    margin: 0;
}

.Calendar-Top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Arrow-Font {
    font-size: 1.5rem;
}

.Calendar-Bottom-Container {
    min-width: 100%;
    max-height: fit-content;
    position: absolute;
    top: 80%;
    z-index: 1;
    border-radius: 5px;
    margin-top: 1rem;
}

.Calendar-Bottom-Header {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
    align-items: center;
}

.Calendar-Bottom-ListContainer {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.Calendar-Bottom-List {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    padding: 0;
    margin: 0;
    gap: 3px;
}

.Calendar-Bottom-List li {
    grid-area: auto;
    list-style-type: none;
    width: 1rem;
    padding: 0.2rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    border-radius: 0.1rem;
}

.FormPage-CustomSelect-Container {
    position: relative;
    z-index: 1;
}

.CustomSelect-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 100%;
    position: relative;
    border-radius: 0.3rem;
    z-index: 2;
    cursor: pointer;
}

.CustomSelect-Container {
    position: absolute;
    z-index: 3;
    min-width: 100%;
    display: flex;
    top: 80%;
    margin-top: 1rem;
    border-radius: 0.3rem;
    background-color: whitesmoke;
}

.CustomSelect-Container ul {
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.CustomSelect-Container li {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.FormPage-Project {
    grid-area: 2 / 1 / 2 / span 2;
}


.FormPage-ItemContainer {
    max-width: 100%;
    min-height: 8rem;
    max-height: 8rem;
    overflow: scroll;
}

.FormPage-Item-LabelContainer {
    display: grid;
    grid-template-columns: 4fr 1fr 2fr 1fr 1fr;
    column-gap: 2%;
}

.FormItem-Container {
    display: grid;
    grid-template-columns: 4fr 1fr 2fr 1fr 1fr;
    gap: 2%;
    max-width: 100%;
    align-items: center;
}

.FormPage-ItemContainer-Button {
    display: flex;
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    justify-content: center;
    border-radius: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.Trash-Icon {
    font-size: 2.3rem;
    color: red;
    font-weight: 500;
}

.Trash-Icon:hover {
    cursor: pointer;
}

.FormPage-Bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15%;
    margin-bottom: 5%;
    margin-left: 50%;
    width: 50%;
    justify-content: space-around;
}

.FormWarning-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140%;
    width: 100%;
    z-index: 5;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.FormWarning-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    min-height:fit-content;
    width: 60%;
    border-radius: 0.8rem;
    padding: 3%;
}

.FormWarning-Container h4 {
    color: red;
}

.FormWarning-Bottom {
    display: flex;
    flex-direction: column;
    width: 80%;
}


/* INVOICE PAGE */

.InvoicePage-Container {
    max-height: 100vh;
    height: 100%;
    max-width: 80vh;
    width: 100%;
}

.backButton {
    margin-bottom: 3%;
}

.InvoicePage-TopContainer {
    display: flex;
    max-height: 15vh;
    height: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 5vh;
    border-radius: 0.3rem;
    margin-bottom: 3%;
}

.InvoicePage-TopContainer-ButtonsContainer {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
}

.InvoicePage-MainContainer{
    padding: 5vh;
    max-height: 60vh;
    height: 60vh;
    max-width: 100%;
    border-radius: 0.3rem;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 3fr 3fr 6fr;
}

.InvoicePage-MainContainer h4 {
    margin: 0.5rem;
}

.InvoicePage-BillFromContainer{
    grid-row: 2 / 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.InvoicePage-BillFromContainer p {
    margin: 0;
}

.InvoicePage-BillFromContainer span {
    font-weight: bold;
}

.InvoicePage-BillFromContainer ul{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: end;
    margin: 0;
}

.InvoicePage-Dates {
    margin-top: 1rem;
}

.InvoicePage-BillToContainer {
    display: flex;
    height: 100%;
    width: 100%;
    grid-row: 3 / 3;
    justify-content: space-around;
}

.InvoicePage-ClientDetails {
    display: flex;
    flex-direction: column;
}

.InvoicePage-BillToContainer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.InvoicePage-ClientEmail span {
    font-weight: bold
}

.InvoicePage-InvoiceContainer {
    grid-row: 4 / 4;
    height: 70%;
    width: 90%;
    max-height:70%;
    max-width: 90%;
    padding: 5%;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 2fr 1fr;
    border-radius: 0.3rem;
}

.InvoicePage-InvoiceContainer p {
    margin: 0;
}

.InvoicePage-InvoiceHeadings {
    grid-row: 1 / 1;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.InvoicePage-InvoiceList {
    grid-row: 2 / 2;
    max-width: 100%;
    max-height: 100%;
    overflow: scroll;
}

.InvoicePage-InvoiceListItem {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    padding: 0.5rem 0;
}

.InvoicePage-InvoiceTotal {
    grid-row: 3 / 3;
    display: grid;
    align-items: center;
    grid-template-columns: 5fr 1fr;
    background-color: rgb(255, 138, 138);
    border-radius: 0.3rem;
}

.InvoicePage-InvoiceTotal p {
    margin-left: 3%;
}

.InvoicePage-InvoiceTotal span {
    font-size: 2rem;
    font-weight: bolder;
    margin-right: 0.8rem;
}


/* MEDIA QUERIES SECTION */

@media only screen and (max-width: 1000px) {

    .MainPage-Container {
        max-width: 80%;
    }

    .MainPage-Header-Container {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);

    }

    .MainPage-Header-Container p {
        margin: 0;
    }

    .MainPage-Title-Container {
        grid-area: 1 / 1 / span 1 / span 2;
    }

    .MainPage-Filter-Container {
        grid-area: 2 / 1 / span 1 / span 1;
    }

    .MainPage-Sort-Container {
        grid-area: 2 / 2 / span 1 / span 1;
    }

    .MainPage-Header-Container button {
        grid-area: 2 / 3 / span 1 / span 1;
    }

    .MainPage-Invoice-Card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 80%;
        padding: 2% 2%;
        height: 6rem;
        border-radius: 0.4rem;
    }

    .MainPage-Invoice-Card:hover {
        padding: 3%;
    }

    .Invoice-Card-Id {
        grid-area: 1 / 1 / span 1 / span 1;
        margin: 0;
    }

    .Invoice-Card-Date {
        grid-area: 2 / 1 / span 1 / span 1;
        margin: 0;
        font-size: 0.8rem;
    }

    .Invoice-Card-Name {
        grid-area: 1 / 2 / span 1 / span 1;
        margin: 0;
    }

    .Invoice-Card-Price {
        grid-area: 3 / 1 / span 1 / span 1;
        margin: 0;
    }

    .Invoice-Card-Status {
        grid-area: 3 / 2 / span 1 / span 1;
        margin: 0;
    }
    
    .FormPage-Wrapper {
        min-width: 80vw;
        min-height: 80vh;
        left: 10%;
        top: 10%;
    }

    .FormWarning-Wrapper {
        height: 140%;
    }
}

@media only screen and (max-width: 700px) {

    body {
        min-height: 100vh;
        width: 100vw;
    }

    .App {
        min-height: 100vh;
        width: 100vw;
    }

    .MainPage-Header-Container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        min-height: 30vh;
    }

    .MainPage-Title-Container {
        grid-area: 1 / 1 / span 1 / span 2;
    }

    .MainPage-Filter-Container {
        grid-area: 2 / 1 / span 1 / span 1;
    }

    .MainPage-Sort-Container {
        grid-area: 2 / 2 / span 1 / span 1;
    }

    .MainPage-Header-Container button {
        grid-area: 3 / 1 / span 1 / span 2;
    }

    .FormPage-Wrapper {
        min-width: 70vw;
        min-height: 110vh;
        left: 15%;
        top: 10%;
    }

    .FormWarning-Wrapper {
        height: 110%;
    }

    .InvoicePage-Container {
        min-height: 150vh;
        max-width: 80vw;
    }

    .InvoicePage-TopContainer {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .InvoicePage-TopContainer p {
        margin: 0;
    }

    .InvoicePage-TopContainer-ButtonsContainer {
        grid-area: 2 / 1 / span 1 / span 2;
        width: 100%;
    }

    .InvoicePage-MainContainer {
        min-height: 100vh;
    }
}


@media only screen and (max-width: 500px) {

    .MainPage-Container {
        min-width: 90%;
    }

    .MainPage-Header-Container {
        max-height: 15vh;
    }

    .MainPage-Invoice-Container {
        max-height: 55vh;
        overflow: scroll;
        justify-content: start;
    }

    .MainPage-Invoice-Card {
        grid-template-rows: repeat(6, 1fr);
    }

    .Invoice-Card-Id {
        grid-area: 1 / 1 / span 2 / span 1;
    }

    .Invoice-Card-Date {
        grid-area: 3 / 1 / span 2 / span 1;
    }

    .Invoice-Card-Name {
        grid-area: 1 / 2 / span 3 / span 1;
    }

    .Invoice-Card-Price {
        grid-area: 5 / 1 / span 2 / span 1;
    }

    .Invoice-Card-Status {
        grid-area: 4 / 2 / span 3 / span 1;
    }

    .FormPage-Wrapper {
        min-width: 90vw;
        min-height: 80vh;
        max-height: 80vh;
        left: 5%;
    }

    .FormPage-Container {
        width: 95%;
        max-width: 95%;
    }

    .FormPage-Bottom {
        width: 100%;
        margin-left: 0;
    }

    .FormWarning-Wrapper {
        height: 150%;
    }

    .InvoicePage-Container {
        max-width: 90%;
        min-height: 90vh;
        max-height: 90vh;
    }

    .InvoicePage-TopContainer {
        min-height: 15vh;
        width: 95%;
        padding: 2.5%;
    }

    .InvoicePage-TopContainer-ButtonsContainer {
        align-items: center;
        grid-area: 2 / 1 / span 1 / span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 5%;
        width: 100%;
        height: 12vh;
    }

    .PaidButton {
        grid-area: 2 / 1 / span 1 / span 2;
    }

    .InvoicePage-MainContainer {
        padding: 0;
        grid-template-rows: 0.3fr 1fr 1fr 2fr;
        row-gap: 2%;
        min-height: 60vh;
        max-height:60vh;
        overflow: scroll
    }

    .InvoicePage-BillFromContainer {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 90%;
        margin-left: 5%;
    }

    .InvoicePage-BillFromContainer ul {
        padding: 0;
        align-items: flex-start;
    }

    .InvoicePage-BillToContainer {
        display: grid;
        grid-template-rows: 1.5fr 1fr;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        margin-left: 5%;
    }

    .InvoicePage-BillToContainer p {
        margin: 0.3rem 0;
    }

    .InvoicePage-InvoiceContainer {
        grid-template-rows: 3fr 1fr;
        padding: 0;
        width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        border-radius: 0 0 0.3rem 0.3rem;
        align-items: normal;
    }

    .InvoicePage-InvoiceList {
        grid-row: 1 / 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        margin-left: 2.5%;
    }

    .InvoicePage-InvoiceListItem {
        display: flex;
        justify-content: space-between;
    }

    .InvoicePage-InvoiceListItem span {
        font-weight: bold;
    }

    .InvoicePage-InvoiceTotal {
        grid-row: 2 / 2;
        border-radius: 0 0 0.3rem 0.3rem;
    }

    .InvoicePage-InvoiceTotal span {
        font-size: 1.5rem;
    }
}